################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AndresAlarcon.TaskManager/FileContentIndex
/.vs/AndresAlarcon.TaskManager/DesignTimeBuild
/.vs/AndresAlarcon.TaskManager/v17/.suo
/.vs/AndresAlarcon.TaskManager/v17
/AndresAlarcon.TaskManager.API/obj
/AndresAlarcon.TaskManager.API/Properties
/AndresAlarcon.TaskManager.Application/obj
/AndresAlarcon.TaskManager.Domain/obj
/AndresAlarcon.TaskManager.Infrastructure/obj
/AndresAlarcon.TaskManager.Test/obj
/.vs/AndresAlarcon.TaskManager/v17/.suo
/.vs/AndresAlarcon.TaskManager/v17/DocumentLayout.json
